<section class="learn">
  <div class="learn-about">
    <img
      class="learn-about-image"
      src="../../../assets/img/about.png"
      alt="about"
    />
    <h3 class="learn-about-content">About Mina</h3>
    <p class="learn-about-text">
      Mina is a brand born out of a passion for ceramics.
    </p>
    <button class="learn-about-button design">Learn more</button>
  </div>
  <div class="learn-sustainability">
    <img
      class="learn-sustainability-image"
      src="../../../assets/img/sus.png"
      alt="about"
    />
    <h3 class="learn-sustainability-content">Sustainability</h3>
    <p class="learn-sustainability-text">
      Mina is an eco-friendly brand that cares about sustainability.
    </p>
    <button class="learn-sustainability-button design">Learn more</button>
  </div>
</section>
