<section class="workmaterial">
  <div class="working">
    <img
      class="working-image"
      src="../../../assets/img/working.png"
      alt="work"
    />
    <div class="working-container">
      <h2 class="working-container-content">Working Ethos</h2>
      <p class="working-container-text">
        For Alex and Laura, planning ahead is a central component of sustainable
        design. Work begins with sketches of ideas before any clay is modeled.
        Fully conceptualizing and refining each design beforehand helps us to
        reduce material waste.
      </p>
      <p class="working-container-text">
        We strive to work collaboratively at every stage. Our team efforts
        minimize energy usage in the studio.
      </p>
    </div>
  </div>
  <div class="material">
    <div class="material-container">
      <h2 class="material-container-content">Materials</h2>
      <p class="material-container-text">
        Surrounded by beautiful landscapes, it is only right that our studio is
        stocked with only the finest local materials that haven't had to travel
        far to get to us. Our clay is as locally sourced as possible for every
        product.
      </p>
      <p class="material-container-text">
        We ensure that the paint we use on our products is low-VOC and never
        washed into local waterways during production.
      </p>
    </div>
    <img
      class="material-image"
      src="../../../assets/img/orange.png"
      alt="material"
    />
  </div>
</section>
