<section class="information">
  <div class="information-order">
    <p class="information-order-description">
      Free shipping on orders over $50 amount
    </p>
  </div>

  <div class="information-shop">
    <div class="information-shop-container">
      <h1 class="information-shop-content">Handmade ceramics</h1>
      <p class="information-shop-text">Painted clay ceramics made with love.</p>
      <button class="information-shop-button">Shop now</button>
    </div>

    <img
      class="information-shop-image"
      src="../../../assets/background/info-bg-img.png"
      alt="background"
    />
  </div>
</section>
