<header class="header">
  <nav class="header-nav">
    <a routerLink="**" href="" class="header-nav-logo link">MINA</a>
    <ul class="header-nav-list">
      <li class="header-nav-list-item">
        <a class="link">
          <span class="item-text">Shop</span>
          <img
            class="item-img"
            src="../../../assets/icon/down.png"
            alt="arrow-down"
          />
        </a>
        <div class="popup">
          <a
            routerLink="/all"
            routerLinkActive="active"
            class="popup-link underline"
            href=""
            >All products</a
          >
          <a
            routerLink="/new"
            routerLinkActive="active"
            class="popup-link underline"
            href=""
            >New collection</a
          >
        </div>
      </li>
      <li class="header-nav-list-item">
        <a
          routerLink="/sustainability"
          routerLinkActive="active"
          href=""
          class="link underline"
          >Sustainability</a
        >
      </li>
      <li class="header-nav-list-item">
        <a
          routerLink="/about"
          routerLinkActive="active"
          href=""
          class="link underline"
          >About</a
        >
      </li>
      <li class="header-nav-list-item">
        <a
          routerLink="/contact"
          routerLinkActive="active"
          href=""
          class="link underline"
          >Contact</a
        >
      </li>

      <li class="header-nav-list-item">
        <a href="" class="link">
          <img
            class="item-bag"
            src="../../../assets/icon/shopping-bag.png"
            alt="shopping-bag"
          />
          <span class="item-text"
            >Card
            <span class="item-count">(0)</span>
          </span>
        </a>
      </li>
    </ul>
  </nav>
</header>
