<section class="payment">
  <div class="payment-order">
    <p class="payment-order-description">
      Free shipping on orders over $50 amount
    </p>
  </div>
  <div class="payment-container">
    <h1 class="payment-container-content">Payments & Delivery</h1>
    <img
      class="payment-container-image"
      src="../../../assets/background/payment.png"
      alt="background"
    />
  </div>
  <div class="payment-information">
    <div class="payment-information-payments">
      <h1 class="payment-information-payments-content">Payments</h1>
      <p class="payment-information-payments-text">
        We offer over a dozen payment options to ensure you can pay via a method
        that suits your needs. All payments are processed securely by a
        third-party payment provider, and are protected by encryption. Should
        you return any of your order and are due a refund, we will refund the
        value of your order via the payment method you originally used.
      </p>
    </div>
    <div class="payment-information-delivery">
      <h1 class="payment-information-delivery-content">Delivery</h1>
      <p class="payment-information-delivery-text">
        Our online store automatically calculates the best shipping routes,
        rates, and handlers to make sure you receive your poster or print
        quickly and cheaply. We usually ship orders within 48 hours, and
        depending on the shipping options you choose, you should receive them
        within 3-5 working days.
      </p>
    </div>
  </div>
</section>
