<section class="allproduct">
  <div class="allproduct-container">
    <div class="allproduct-container-card">
      <img
        class="allproduct-container-card-image"
        src="../../../assets/img/p5.png"
        alt="card candy"
      />
      <h3 class="allproduct-container-card-content">'Balance' Vase</h3>
      <p class="allproduct-container-card-price">
        <span class="allproduct-container-card-old">$79.90 </span>
        <span>$69.90</span>
      </p>
    </div>
    <div class="allproduct-container-card">
      <img
        class="allproduct-container-card-image"
        src="../../../assets/img/p6.png"
        alt="card candy"
      />
      <h3 class="allproduct-container-card-content">'Binocular' Vase</h3>
      <p class="allproduct-container-card-price">$49.90</p>
    </div>
    <div class="allproduct-container-card">
      <img
        class="allproduct-container-card-image"
        src="../../../assets/img/bubble.png"
        alt="card candy"
      />
      <h3 class="allproduct-container-card-content">'Bubble' Flowerpot</h3>
      <p class="allproduct-container-card-price color">SOLD OUT</p>
    </div>
  </div>
  <div class="allproduct-container">
    <div class="allproduct-container-card">
      <img
        class="allproduct-container-card-image"
        src="../../../assets/img/p7.png"
        alt="card candy"
      />
      <h3 class="allproduct-container-card-content">'Bulb' Vase</h3>
      <p class="allproduct-container-card-price">$39.90</p>
    </div>
    <div class="allproduct-container-card">
      <img
        class="allproduct-container-card-image"
        src="../../../assets/img/p1.png"
        alt="card candy"
      />
      <h3 class="allproduct-container-card-content">'Candy' Flowerpot</h3>
      <p class="allproduct-container-card-price">
        <span class="allproduct-container-card-old">$59.90 </span>
        <span>$49.90</span>
      </p>
    </div>
    <div class="allproduct-container-card">
      <img
        class="allproduct-container-card-image"
        src="../../../assets/img/p2.png"
        alt="card candy"
      />
      <h3 class="allproduct-container-card-content">'Drop' Vase</h3>
      <p class="allproduct-container-card-price">
        <span class="allproduct-container-card-old">$49.90 </span>
        <span>$40.90</span>
      </p>
    </div>
  </div>
  <div class="allproduct-container">
    <div class="allproduct-container-card">
      <img
        class="allproduct-container-card-image"
        src="../../../assets/img/p8.png"
        alt="card candy"
      />
      <h3 class="allproduct-container-card-content">'Mango' Vase</h3>
      <p class="allproduct-container-card-price">$49.90</p>
    </div>
    <div class="allproduct-container-card">
      <img
        class="allproduct-container-card-image"
        src="../../../assets/img/p4.png"
        alt="card candy"
      />
      <h3 class="allproduct-container-card-content">'Sun' Vase</h3>
      <p class="allproduct-container-card-price">$69.90</p>
    </div>
    <div class="allproduct-container-card">
      <img
        class="allproduct-container-card-image"
        src="../../../assets/img/p3.png"
        alt="card candy"
      />
      <h3 class="allproduct-container-card-content">'Wave' Vase</h3>
      <p class="allproduct-container-card-price color">SOLD OUT</p>
    </div>
  </div>
</section>
