<section class="collection">
  <div class="collection-container">
    <div class="collection-container-card">
      <img
        class="collection-container-card-image"
        src="../../../assets/img/bubble.png"
        alt="card candy"
      />
      <h3 class="collection-container-card-content">'Bubble' Flowerpot</h3>
      <p class="collection-container-card-price color">SOLD OUT</p>
    </div>
    <div class="collection-container-card">
      <img
        class="collection-container-card-image"
        src="../../../assets/img/p5.png"
        alt="card candy"
      />
      <h3 class="collection-container-card-content">'Balance' Vase</h3>
      <p class="collection-container-card-price">
        <span class="collection-container-card-old">$79.90 </span>
        <span>$69.90</span>
      </p>
    </div>
    <div class="collection-container-card">
      <img
        class="collection-container-card-image"
        src="../../../assets/img/p3.png"
        alt="card candy"
      />
      <h3 class="collection-container-card-content">'Wave' Vase</h3>
      <p class="collection-container-card-price color">SOLD OUT</p>
    </div>
  </div>
  <div class="collection-container">
    <div class="collection-container-card">
      <img
        class="collection-container-card-image"
        src="../../../assets/img/p7.png"
        alt="card candy"
      />
      <h3 class="collection-container-card-content">'Bulb' Vase</h3>
      <p class="collection-container-card-price">$39.90</p>
    </div>
  </div>
</section>
