<section class="newsletter">
  <div class="newsletter-container">
    <div class="newsletter-container-info">
      <h1 class="newsletter-container-content">Sign-up for our newsletter</h1>
      <form class="newsletter-container-form">
        <label class="newsletter-container-form-label" for="email"
          >Your email</label
        >
        <input
          class="newsletter-container-form-input"
          type="email"
          name="email"
          placeholder="Your email address"
        />
      </form>
      <button class="newsletter-container-button">Submit</button>
    </div>

    <img
      class="newsletter-container-image"
      src="../../../assets/background/news.png"
      alt="background"
    />
  </div>
</section>
