<section class="return">
  <div class="return-order">
    <p class="return-order-description">
      Free shipping on orders over $50 amount
    </p>
  </div>
  <div class="return-container">
    <h1 class="return-container-content">Returns</h1>
    <img
      class="return-container-image"
      src="../../../assets/background/return.png"
      alt="background"
    />
  </div>
  <div class="return-policy">
    <h1 class="return-policy-content">Returns & Refunds policy</h1>
    <p class="return-policy-text">
      You are entitled to cancel your order within 30 days without giving any
      reason for doing so.
    </p>
    <p class="return-policy-text">
      The deadline for canceling an order is 30 days from the date you received
      the goods or on which a third party you have appointed, who is not the
      carrier, takes possession of the product delivered.
    </p>
    <p class="return-policy-text">
      In order to exercise your right of cancellation, you must inform us of
      your decision by means of a clear statement.
    </p>
    <p class="return-policy-text">
      You can inform us of your decision by e-mail NAME&#64;EMAIL.COM
    </p>
    <p class="return-policy-text">
      We will reimburse you no later than 30 days from the day on which we
      receive the returned goods. We will use the same means of payment as you
      used for the order, and you will not incur any fees for such
      reimbursement.
    </p>
  </div>
  <div class="return-conditions">
    <h1 class="return-conditions-content">Conditions for returns:</h1>
    <p class="return-conditions-text">
      In order for the goods to be eligible for a return, please make sure that:
    </p>
    <ul class="return-conditions-list">
      <li class="return-conditions-list-item">
        The goods were purchased in the last 30 days
      </li>
      <li class="return-conditions-list-item">
        The goods are in the original packaging
      </li>
    </ul>
    <p class="return-conditions-text">
      The following goods cannot be returned:
    </p>
    <ul class="return-conditions-list">
      <li class="return-conditions-list-item">
        The supply of goods made to your specifications or clearly personalized.
      </li>
      <li class="return-conditions-list-item">
        The supply of goods which according to their nature are not suitable to
        be returned, for example goods which deteriorate rapidly or where the
        date of expiry is over.
      </li>
      <li class="return-conditions-list-item">
        The supply of goods which are not suitable for return due to health
        protection or hygiene reasons and were unsealed after delivery.
      </li>
      <li class="return-conditions-list-item">
        The supply of goods which are, after delivery, according to their
        nature, inseparably mixed with other items.
      </li>
      We reserve the right to refuse returns of any merchandise that does not
      meet the above return conditions at our sole discretion.
    </ul>
  </div>
  <div class="return-returning">
    <h1 class="return-returning-content">Returning Goods</h1>
    <p class="return-returning-text">
      You are responsible for the cost and risk of returning the goods to us.
      You should send the goods to the following address:
    </p>
    <p class="return-returning-text">YOUR BUSINESS ADDRESS</p>
    <p class="return-returning-text">
      We cannot be held responsible for goods damaged or lost in return
      shipment. Therefore, we recommend an insured and trackable mail service.
      We are unable to issue a refund without actual receipt of the goods or
      proof of received return delivery.
    </p>
  </div>
  <div class="return-gifts">
    <h1 class="return-gifts-content">Gifts:</h1>
    <p class="return-gifts-text">
      If the goods were marked as a gift when purchased and then shipped
      directly to you, you'll receive a gift credit for the value of your
      return. Once the returned product is received, a gift certificate will be
      mailed to you.
    </p>
    <p class="return-gifts-text">
      If the goods weren't marked as a gift when purchased, or the gift giver
      had the order shipped to themselves to give it to you later, We will send
      the refund to the gift giver.
    </p>
  </div>
  <div class="return-contact">
    <h1 class="return-contact-content">Contact Us</h1>
    <p class="return-contact-text">
      If you have any questions about our Returns and Refunds Policy, please
      contact us by e-mail NAME&#64;EMAIL.COM
    </p>
  </div>
</section>
