<section class="container">
  <div class="container-information">
    <div class="container-information-headquarters">
      <h1 class="content">Headquarters</h1>
      <p class="text">The Mina Studio 8241 Us 41, Monteagle, TN, 37356</p>
    </div>
    <div class="container-information-collaborations">
      <h1 class="content">Collaborations</h1>
      <p class="navigation">Reach out to collaborate at collab&#64;mina.com</p>
    </div>
  </div>
  <div class="container-form">
    <h1 class="content">Inquiries</h1>
    <form class="container-panel">
      <label class="label" for="email">Email*</label>
      <input
        class="email design"
        type="email"
        name="email"
        id="email"
        placeholder="Your email address"
      />
      <label class="label" for="text">Name*</label>
      <input
        class="name design"
        type="text"
        name="text"
        id="text"
        placeholder="Your name"
      />
      <label class="label" for="message">Message*</label>
      <textarea
        class="textarea"
        name="message"
        id="message"
        rows="10"
      ></textarea>
      <button type="submit" class="container-panel-button">Submit</button>
    </form>
  </div>
</section>
