<footer class="footer">
  <div class="footer-social">
    <h1 class="footer-social-content">MINA</h1>
    <div class="footer-social-container">
      <a href="https://twitter.com">
        <img
          class="footer-social-container-image"
          src="../../../assets/icon/twitter.png"
          alt="twitter"
        />
      </a>
      <a href="https://www.facebook.com">
        <img
          class="footer-social-container-image"
          src="../../../assets/icon/facebook.png"
          alt="facebook"
        />
      </a>
      <a href="https://www.instagram.com">
        <img
          class="footer-social-container-image"
          src="../../../assets/icon/instagram.png"
          alt="instagram"
        />
      </a>
    </div>
  </div>

  <ul class="footer-navigation">
    <li>
      <a routerLink="/contact" class="footer-navigation-link" href=""
        >Contact</a
      >
    </li>
    <li>
      <a routerLink="/returns" class="footer-navigation-link" href=""
        >Returns</a
      >
    </li>
    <li>
      <a routerLink="/payments" class="footer-navigation-link" href=""
        >Payments & Delivery</a
      >
    </li>
  </ul>
</footer>
